body {
  background: linear-gradient(to bottom, #ccfff3, #d9ff99);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  min-width: 40rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#timer {
  font-size: 1.2rem;
  text-align: right;
}

h1 {
  text-align: center;
  margin-top: 0;
}

#question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

#options {
  list-style-type: none;
  padding: 0;
}

#options li {
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

#options li:hover {
  background-color: #e6e6e6;
}

.selected {
  background: linear-gradient(45deg, #c4ff6d, #a8fee1);
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#play-again {
  display: none;
}

#result {
  display: none;
  justify-content: center;
  flex-direction: column;
}

#result h2 {
  text-align: center;
  font-size: 3rem;
}

#score {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  display: none;
}

.question-review {
  background: linear-gradient(45deg, #9cffe2, #bffca6);
  padding: 0.5rem;
  margin-block: 1rem;
  border-radius: 0.5rem;
}

@media (max-width: 750px) {
  .container {
    min-width: 80%;
  }
}
